<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unimelb.steven.fitnessapp">

    <!-- <permission -->
    <!-- android:name="unimelb.steven.fitnessapp.fragments.permission.MAPS_RECEIVE" -->
    <!-- android:protectionLevel="signature" /> -->


    <!-- <uses-permission android:name="unimelb.steven.fitnessapp.fragments.permission.MAPS_RECEIVE" /> -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bunny"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />


        <receiver
            android:name=".BootCompletedIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="sleepsystem" />
            </intent-filter>
        </receiver>

        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyDH6PCXilnZib7LEmptlhpDZFwm-kyALiQ" /> -->

        <service
            android:name=".services.SendDataService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".services.AllSensorsService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".services.ARService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>